
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Cambria, Arial, sans-serif;
}


body{
    background-color:#F2D6C9;
    color:#2C2C34;
    min-height:100vh;
    overflow-x:hidden;
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
    height:90px;
    background-color:#2C2C34;
    color:#FFFFFF;
}


#logo_div{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo{
    width:60px;
    height:60px;
    object-fit:contain;
    border-radius:50%;
}

#logo_div h1{
    font-size:1.5em;
}

nav ul{
    display:flex;
    gap:20px;
}

ul li{
    list-style:none;
}

a{
    text-decoration:none;
    color:#FFFFFF;
    padding:6px 10px;
    font-size:1.1em;
}

a:hover{
    background-color:orange;
    border-radius:6px;
}


button{
    padding:8px 12px;
    border-radius:8px;
    border:none;
    background-color:orange;
    color:#fff;
    cursor:pointer;
}

button:hover{
    opacity:0.85;
}


#header-btn{
    background-color:orange;
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:30px;
    padding:20px 0;
}

section{
    width:90%;
}

#hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    border-radius:15px;
    min-height:70vh;
    background-color:#F2D6C9;
    color:#000;
}

#hero-h1{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.mangager-image{
    width:50%;
    border-radius:15px;
}

#about{
    background-color:#FF6F61;
    color:#FFFFFF;
    padding:20px;
    border-radius:15px;
}

#aboutUs{
    display:flex;
    align-items:center;
    gap:20px;
}

.about-text{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:15px;
}

#team-image{
    width:50%;
    border-radius:10px;
}


#menu h2{
    text-align:center;
    margin-bottom:20px;
}

#service-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,
    minmax(250px,1fr));
    gap:20px;
}

.service-item{
    padding:15px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    text-align:center;
    background-color:#FF6F61;
    color:#FFFFFF;
}

.images{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}

#contact{
    width:90%;
    margin:auto;
    padding:40px 20px;
}


.contact-title{
    text-align:center;
    font-size:2em;
    margin-bottom:10px;
    color:#000;
}



.contact-subtitle{
    text-align:center;
    margin-bottom:30px;
    color:#555;
}


.contact-cards{
    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;
    margin-bottom:30px;
}

.card{
    flex:1;
    min-width:200px;
    padding:20px;
    border-radius:10px;
    background:#eee;
    text-align:center;
}

.card.active{
    background:#6C5CE7;
    color:#fff;
}


.contact-main{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.map{
    flex:1;
    min-width:300px;
    height:350px;
    border-radius:10px;
    overflow:hidden;
}

.contact-form{
    flex:1;
    min-width:300px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.contact-form input,
.contact-form textarea{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    outline:auto;
    caret-color:black;
}

.contact-form textarea{
    height:100px;
}

.contact-form button{
    margin-top:10px;
    padding:12px;
    border:none;
    background:orange;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
}

.contact-form button:hover{
    opacity:0.9;
}
footer{
    text-align:center;
    padding:15px 0;
    background-color:#1A1A1A;
    color:#FFFFFF;
    width: 100%;
}.footer{
    padding:30px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    text-align:left;
}.footer-section{
    display:flex;
    flex-direction:column; /* 🔥 makes them vertical */
    gap:8px;
}

.footer-section a{
    display:block;
}




@media(max-width:768px){

    #hero{
        flex-direction:column;
        text-align:center;
    }

    #hero-h1{
        width:100%;
        align-items:center;
    }

    .mangager-image{
        width:100%;
        margin-top:10px;
    }

    #aboutUs{
        flex-direction:column;
    }

    .about-text,
    #team-image{
        width:100%;
    }
}


@media(max-width:480px){

    header{
        flex-direction:column;
        height:auto;
        gap:10px;
        padding:10px;
    }

    nav ul{
        flex-direction:column;
        gap:10px;
    }

    #logo_div{
        flex-direction:column;
    }

    a{
        font-size:1em;
    }

    .order-form input,
    .order-form select,
    .contact-form input,
    .contact-form textarea{
        width:90%;
    }
}
.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,
    minmax(250px,1fr));
    gap:20px;
}

.product-card{
    padding:15px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    text-align:center;
    background-color:#FF6F61;
    color:#FFFFFF;
}
.images{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}